# Environment Configuration File

# Server Configuration
PORT=4000                        # Port the server will run on
NODE_ENV=development              # Environment mode (development/production)
FRONTEND_HOST="http://localhost:5173"  # Frontend application URL

# Database Configuration
DB_HOST=localhost                 # Database host
DB_PORT=3306                      # Database port
DB_NAME="db_personal_finance"     # Database name
DB_USER="your_db_username"        # Database username
DB_PASSWORD="your_db_password"    # Database password
DB_DIALECT="mysql"                # Database dialect (e.g., postgres, mysql)

# - Auth Module - #

# Token Secrets
ACCESS_TOKEN_SECRET="your_access_token_secret_here"  # Secret used for signing access tokens
REFRESH_TOKEN_SECRET="your_refresh_token_secret_here"  # Secret used for signing refresh tokens

# Google OAuth Configuration
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"  # Google Client ID for OAuth
GOOGLE_CLIENT_SECRET="your_google_client_secret"  # Google Client Secret for OAuth